<div flex layout="row" class="width-height-100  bg-login-img">
    <md-content class="md-padding bg-initial landing-md-content" flex layout="row" layout-sm="row" layout-xs="column">
        <div flex="50" layout-align="end" flex-xs="30" flex-md="50" flex-sm="30" flex-gt-xs="40" layout="column" layout-sm="row" layout-xs="row" class="margin-auto">
            <div >
                <div class="fzbl-text">
                    Feazo</div>
                <div class="fzbl-slogan">
                    Property Feasibility Analysis System
                </div>
            </div>
        </div>
        <div flex="30" layout-align="start" flex-xs="60" flex-md="40" flex-sm="40" flex-gt-xs="40" layout="column" class="margin-auto">
            <md-card class="login-panel">
                <form id="change_password_form" ng-submit="userCtrl.resetPassword(changePasswordForm)" name="changePasswordForm" class="login-form" novalidate>
                    <div flex="100">
                        <md-input-container class="width-100 custom-md-input">
                            <input required name="newPassword" class="input-font-color" ng-model="userCtrl.user.password" type="password" placeholder="New password" ng-pattern="userCtrl.passwordPattern" autofocus>
                            <div ng-messages="changePasswordForm.newPassword.$error">
                                <div ng-message="required" ng-show="changePasswordForm.newPassword.$error.required">Please enter your password.</div>
                                <div ng-message="pattern" ng-show="changePasswordForm.newPassword.$error.pattern">{{userCtrl.passwordPatternText}}</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div flex="100">
                        <md-input-container class="width-100 custom-md-input">
                            <input required name="confirmPassword" class="input-font-color" ng-model="userCtrl.user.password_confirmation" type="password" placeholder="Re-type new password" match-password="newPassword">
                            <div ng-messages="changePasswordForm.confirmPassword.$error">
                                <div ng-message="required" ng-show="changePasswordForm.confirmPassword.$error.required">Please retype the new password..</div>
                                <div ng-message="passwordMatch" ng-show="changePasswordForm.confirmPassword.$error.passwordMatch">Your passwords did not match</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div flex layout="row">
                        <div flex="50" layout="column" layout-align="center start">
                            <a ui-sref="login" class="frgt-pwd">Back to Login</a>
                        </div>
                        <div flex="50" layout="column" layout-align="center end">
                            <md-button class="md-primary custom-btn-submit text-capitalize login-btn" type="submit" ng-disabled="changePasswordForm.$invalid">Update</md-button>
                        </div>
                    </div>
                </form>
            </md-card>
        </div>

    </md-content>
</div>
