<div flex layout="row" class="width-height-100 bg-login-img" layout-align="end">
    <md-content class="md-padding bg-initial landing-md-content" flex layout="row" layout-sm="row" layout-xs="column">
        <div flex="30" flex-xs="30" flex-md="50" flex-sm="30" flex-gt-xs="40" layout="column" layout-sm="row" layout-xs="row" class="margin-auto">
            <div>
              <div class="fzbl-text">
                  Manique</div>
              <div class="fzbl-slogan">
                Let Start Node
              </div>
            </div>
        </div>
        <div flex="30" flex-xs="100" flex-md="40" flex-sm="50" flex-gt-xs="40" layout="column" class="margin-auto">
            <md-card class="login-panel" flex>
                <form id="login_form" ng-submit="userCtrl.register(registerForm);" name="registerForm" class="login-form" novalidate>
                    <div flex>
                        <md-input-container class="width-100 custom-md-input">
                            <input required name="firstName" class="no-border-width input-font-color" ng-model="userCtrl.user.firstName" type="text" placeholder="First name">
                            <div ng-messages="registerForm.firstName.$error">
                                <div ng-message="required" ng-show="registerForm.firstName.$error.required">Please enter your First name.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div flex>
                        <md-input-container class="width-100 custom-md-input">
                            <input required name="lastName" class="no-border-width input-font-color" ng-model="userCtrl.user.lastName" type="text" placeholder="Last name">
                            <div ng-messages="registerForm.lastName.$error">
                                <div ng-message="required" ng-show="registerForm.lastName.$error.required">Please enter your Last name.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div flex>
                        <md-input-container class="width-100 custom-md-input">
                            <input required name="email" class="no-border-width input-font-color" ng-model="userCtrl.user.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" type="text" placeholder="Email">
                            <div ng-messages="registerForm.email.$error" ng-if="registerForm.email.$touched" class="input-messages">
                                <div ng-message="required" ng-show="registerForm.email.$error.required">Please enter your email.</div>
                                <div ng-message="email" ng-show="registerForm.email.$error.pattern">Please enter a valid email address.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div flex>
                        <md-input-container class="width-100 custom-md-input">
                            <input ng-required="true" name="password" class="input-font-color" ng-model="userCtrl.user.password" type="password" ng-pattern="userCtrl.passwordPattern" placeholder="Password">
                            <div ng-messages="registerForm.password.$error">
                                <div ng-message="required" ng-show="registerForm.password.$error.required">Please enter your password.</div>
                                <div ng-message="pattern" ng-show="registerForm.password.$error.pattern">{{userCtrl.passwordPatternText}}</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div flex>
                        <md-input-container class="width-100 custom-md-input">
                            <input required name="confirmPassword" class="input-font-color" ng-model="userCtrl.user.confirmPassword" type="password" placeholder="Confirm Password" match-password="password">
                            <div ng-messages="registerForm.confirmPassword.$error">
                                <div ng-message="required" ng-show="registerForm.confirmPassword.$error.required">Please retype the new password..</div>
                                <div ng-message="passwordMatch" ng-show="registerForm.confirmPassword.$error.passwordMatch">Your passwords did not match</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div flex>
                        <md-input-container class="width-100 custom-md-input">
                            <input required name="employeeId" class="no-border-width input-font-color" ng-model="userCtrl.user.employeeId" type="text" placeholder="Employee Id">
                            <div ng-messages="registerForm.employeeId.$error">
                                <div ng-message="required" ng-show="registerForm.employeeId.$error.required">Please enter your Employee Id.</div>
                            </div>
                        </md-input-container>
                    </div>

                    <div flex layout="row">
                        <div flex="50" layout="column" layout-align="center start">
                            <a ui-sref="login" class="frgt-pwd">Back to Login</a>
                        </div>
                        <div flex="50" layout="column">
                            <div flex="100">
                                <md-button ng-disabled="registerForm.$invalid" class="md-primary custom-btn-submit text-capitalize login-btn" type="submit" ng-disabled="" style="width: 100%;">Add Employee</md-button>
                            </div>
                        </div>
                    </div>
                </form>
            </md-card>
        </div>
    </md-content>
</div>
