<div flex layout="row" class="width-height-100  bg-login-img">
    <md-content class="md-padding bg-initial landing-md-content" flex layout="row" layout-sm="row" layout-xs="column">
        <div flex="100" layout-align="center" flex-xs="60" flex-md="60" flex-sm="60" flex-gt-xs="60" layout="column" class="margin-auto">
            <md-card class="login-panel">
                <md-card md-theme="default" style="box-shadow: none" md-theme-watch>
                    <md-card-title>
                        <md-card-title-text layout-align="center">
                            <span class="md-headline text-align-center">
                                <md-icon aria-label="success" class="md-icon-green">done</md-icon>
                            </span>
                            <span class="md-subhead green-label text-align-center">Registration Successful</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <p class="success-msg">
                            Thank you for registering on Feazo. To complete the registration, please click the link in the email we just sent you.
                        </p>
                    </md-card-content>
                    <div flex="100" layout="column" layout-align="center" class="m-b-23">
                        <a ui-sref="login" class="frgt-pwd text-align-center">Click to Login</a>
                    </div>
                </md-card>
            </md-card>

        </div>

    </md-content>
</div>
