//Mixins
@mixin font-family($font) {
    font-family: $font, Helvetica, Arial, Geneva, sans-serif;
}
@mixin custom-btn($color, $border) {
    background: #fff !important;
    border-radius: 6px !important;
    border: 1px solid $border !important;
    color: $color !important;
}
@mixin custom-btn-blue() {
    background: #fff !important;
    border-radius: 6px !important;
    border: 1px solid #0f669c !important;
    color: #0f669c !important;
}
@mixin custom-btn-yellow {
    background: transparent !important;
    border-radius: 6px !important;
    border: 1px solid #FFDF7F !important;
    color: #FFDF7F !important;
    @include font-family($f-tahoma);
}
@mixin custom-md-icon($color, $font-size, $width-height) {
    color: $color;
    border-radius: 4px;
    border: 1px solid $color;
    background-color: #ffffff;
    font-size: $font-size;
    min-width: $width-height;
    max-width: $width-height;
    min-height: $width-height;
    max-height: $width-height;
}
