//Variables
$app-background: #fff;
$width-100: 100%;
$width-60: 60%;
$color-white: #ffffff;
$color-black: #000000;
$color-green: #69CB33;
$font-primary-blue: #073d6d;
$font-12: 12px;
$font-13: 13px;
$font-14: 14px;
$font-16: 16px;
$font-17: 17px;
$font-18: 18px;
$font-20: 20px;
$font-22: 22px;
$font-26: 26px;
$font-28: 28px;
$font-weight-400: 400;
$text-capitalize: capitalize !important;
$text-lowercase: lowercase !important;
$f-tahoma: 'tahoma';
$pull-right: right;
$pull-left: left;
$align-center: center;
$align-left: left;
$margin-25: 25px;
$margin-top-5: 5px;
$margin-top-10: 10px;
 $margin-top-12: 12px;
$margin-top-20: 20px;
$max-height-100: 100%;
$width-40: 40%;
$width-30: 30%;
$width-35: 35%;
$width-25: 25%;
$width-45: 45%;
$margin-right-25: 25px;
$overflow-hidden: hidden;
$align-right: right;
$align-left: left;
$width-50: 50%;
$width-75: 75%;
$margin-10: 10px;
$cursor-pointer: pointer;
$color-light-green: #46c790;
$color-forest-green: #529607 !important;
$height-90p: 90%;
$pixcel-25: 25px;
$md-icon-red: #ff8282;
$green-chkbox-border: #18b928;
$blue-chkbox-border: #197ab6;
$input-color: #073d6d;
$yellow-color-border: #ffe8b8;
$yellow-color-bg: #fffbf2;
$header-label-black:#3e3e3e;
$table-input-color: #3e3e3e !important;
$table-label-color: #6c6d6d !important;
