<div layout="row" flex class="header-br-btm bg-light-white">
    <div id="logoDiv" layout="row" layout-align="center center" class="logo-sec">
        <div>
            <a href="#"><img src="build/assets/images/logo.png" alt="Logo"/></a>
        </div>
    </div>
    <div flex layout="row" layout-align="start center" class="header-br-sec" layout-wrap>
        <div hide show-gt-xs flex-gt-xs="3" class="breadcrumb-sec">
            <div class="breadcrumb-icon"></div>
        </div>
        <div flex>
            <div ncy-breadcrumb></div>
        </div>
        <!-- <div class="search-container" flex >
            <div hide show-gt-xs layout="row" layout-align="end" ng-show="$state.includes('home');">
                <md-input-container class="header-search-input p-r-15">
                    <md-icon class="material-icons header-search-icon">search</md-icon>
                    <input name="search" class="no-border-width input-font-color width-225" ng-model="userCtrl.searchKey" ng-keyup="userCtrl.searchProject()" id="search" type="text" placeholder="Search">
                </md-input-container>
            </div>
            <div hide-gt-xs show-xs layout-align="center end" ng-include="'../app/scripts/menu/views/xs-menu.html'"></div>
        </div> -->
    </div>
</div>
